# Project exclude paths
/day04_eesy_01jdbctemplate/target/
/day04_eesy_02account_aoptx_xml/target/
/day04_eesy_03account_aoptx_anno/target/
/day04_eesy_04tx/target/
/day04_eesy_05tx_xml/target/
/day04_eesy_06tx_anno/target/
/day04_eesy_07anno_tx_withoutxml/target/
/day04_eesy_08account_tx/target/
/day04_eesy_09jdk8/target/